<div class="container">
  <div class="col-xs-4">
    <%= link_to "https://www.facebook.com/whtshappening", :target => "_blank" do %>
    <i class="fa fa-facebook fa-2x" style="margin-right: 0.5em;"></i>
    <% end %>

    <%= link_to "https://twitter.com/whtsh/", :target => "_blank" do %>
    <i class="fa fa-twitter fa-2x"></i>
    <% end %>
  </div>

  <div class="col-sm-8 text-right">
    &copy; 2015 <%= image_tag "footer-logo.svg", class: "footer-logo" %>.
    Made with <i class="fa fa-heart"></i> in Columbus, OH
  </div>


</div>
