<div id="wrapper" class="site">
  <div id="header">
    <%= render("header") %>
  </div>

  <div id="content">
   <%= render("content") %>
  </div>

  <div id="footer">
    <%= render("footer") %>
  </div>
</div>
