<div id="wrapper" class="site">
  <div id="header">
    <%= render "welcome/header" %>
  </div>

  <div id="content">
    <%= render "index" %>
  </div>

  <div id="footer">
    <%= render "welcome/footer" %>
  </div>
</div>
