<div class="container center-flex">
  <div class="col-md-12 text-center" style="margin: 0 auto;">
    <%= link_to root_path do %>
      <%= image_tag "not-happening.svg", id: "logo", class: "error-image" %>
    <% end %>
  <h2>Sorry, file not found.</h2>
  </div>
</div>
